.date-block, .name , li{
  border: 1px solid #3a4651;
  background: #3a4651;
  color: orange;
  text-shadow: 0 0 1px black;
  padding: 5px;
  font-size: 1.2rem;
  transform: translate(15px);
}
.date-block {
  transform: translate(0);
}

.header {
  font-family: 'Black Ops One', cursive;
}

.name {
  padding-right: 100px;
}

i {
  color: red;
  font-size: 25px;
}


.dropdown-item i {
  margin-right: 10px;
}

.down {
  transform: translate(22px, 1px);

  &:hover {
    color: white;
  }
}
