<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeFilter()">
          <span class="close-btn">×</span>
        </button>
        <h4 class="modal-title">Filter</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="period">
            <i class="fa fa-calendar"></i>Choose filter option</label>
          <select class="form-control" id="period" [(ngModel)]="selectedPeriod">
            <option *ngFor="let p of timePeriods" [value]="p.type">{{p.label}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">
            <i class="fa fa-money"></i>Choose event's type</label>
          <div>
            <label *ngFor="let t of types">
              <input
                class="checkbox"
                type="checkbox"
                [value]="t.type"
                (change)="handleChangeType($event.target)"
              >
              <span class="check-label">{{t.label}}</span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">
            <i class="fa fa-list"></i>Choose categories</label>
          <div>
            <label *ngFor="let c of categories">
              <input
                class="checkbox"
                type="checkbox"
                [value]="c._id"
                (change)="handleChangeCategory($event.target)"
              >
              <span class="check-label">{{c.name}}</span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeFilter()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="applyFilter()" >Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
