.control-label, .form-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4f5f6f;
  font-weight: bolder;
  font-size: 1.3rem;
}

input {
  font-family: Helvetica, Arial, sans-serif;
}

.form-name {
  color: orange;
  text-shadow: 0 0 1px black;
  letter-spacing: 5px;
  text-transform: uppercase;
}
