.title-block  {
  background: #52bcd3;
  height: 50px;
  text-align: center;
  padding: 8px 20px;
  border-radius: 10px;
  box-shadow: 0 7px 8px #4f5f6f;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: 'Black Ops One', cursive;
  text-shadow: 0 0 1px black;
  margin-top: 20px;
}
