<p class="text-xs-center form-name">Registration</p>
<form  [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}"
  >
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Enter your email"
      formControlName="email"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('email').invalid && form.get('email').touched"
    >
      <span *ngIf="form.get('email')['errors']['required']">Email can't be empty. </span>
      <span *ngIf="form.get('email')['errors']['email']">Enter correct email. </span>
      <span *ngIf="form.get('email')['errors']['forbiddenEmail']">Email is already busy. </span>
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}"
  >
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Enter password"
      formControlName="password"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('password').invalid && form.get('password').touched"
    >
      <span *ngIf="form.get('password')['errors']['required']">Password can't be empty.</span>
      <span *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
        Password must be more than
        {{ form.get('password')['errors']['minlength']['requiredLength'] }}
        characters. <br> It's now {{ form.get('password')['errors']['minlength']['actualLength'] }}.
      </span>
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('name').invalid && form.get('name').touched}"
  >
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control underlined"
      id="name"
      placeholder="Enter your имя"
      formControlName="name"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('name').invalid && form.get('name').touched"
    >
      Name can't be empty.
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('agree').invalid && form.get('agree').touched}"
  >
    <label for="agree">
      <input
        class="checkbox"
        id="agree"
        type="checkbox"
        formControlName="agree"
      >
      <span>Agree with rules.</span>
    </label>
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-block btn-primary"
      [disabled]="form.invalid || form.get('agree').value === false"
    >
      Signup
    </button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Have already account?
      <a [routerLink]="'/login'">
        Login
      </a>
    </p>
  </div>
</form>
