
.refresh-block {
  -webkit-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px);

  @media (max-width: 500px) {
    display: none;
  }
}

.refresh-block .btn {
  display: inline-block;
  border-radius: 100%;
}

.btn:active,
.btn:focus,
.btn.hover {
  outline: none;
}

.btn:hover {
  background: white;
  color: orange;
  outline: none;
  border: none;
}
