 h4.title {
  color: rgb(8,70,71);
   font-size: 1.2rem;
   text-shadow: 0 0 2px white;
}

 .cur {
   color: yellow;
   text-shadow: 0 0 1px black;
   font-size: 1.6rem;
 }

 .table-header th {
   text-transform: uppercase;
   font-size: 1.1rem;
   color: red;
   text-shadow: 0 0 1px black;
 }
