.card.stats {
  height: 400px;
}

h4.title {
  color: rgb(8,70,71);
  font-size: 1.2rem;
  text-shadow: 0 0 2px white;
}

.stat-icon .fa {
  font-size: 2rem;
  font-weight: bold;
  color: yellow;
  text-shadow: 0 0 1px black;
}

