.arrow {
  color: orange;

  &:hover {
    color: white;
  }
}

.eventNum {
  color: orange;
  text-shadow: 0 0 2px #4f5f6f;
}

.card {
  font-family: 'Black Ops One', cursive;
  border-radius: 10px;
}

.card-header {
  text-align: center;
  padding: 8px 20px;
  border-radius: 10px;
  box-shadow: 0 7px 8px #4f5f6f;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-family: 'Black Ops One', cursive;
  text-shadow: 0 0 1px black;
}

.title {
  text-align: center;
  color: white !important;
}

