@import url('https://fonts.googleapis.com/css?family=Monoton');

#logoImg {
  height: 70px;
  width: auto;
  transform: translate(-30px, -25px);
}

.brand {
  font-family: 'Monoton', cursive;
  font-size: 2.1rem;
  letter-spacing: 2px;
  color: red;
  background: #51bcd3;
  text-shadow: 0 0 2px black;
}

span {
  color: orange;
}

.card {
  box-shadow: 0 10px 30px black;
  border-radius: 10px;
  font-family: 'Black Ops One', cursive;
}

